 header {
     background: pink;
     padding: 20px 0;
 }
 
 .box {
     width: 940px;
     position: relative;
     margin: 0 auto;
 }
 
 nav {
     position: absolute;
     top: 110px;
     right: 0;
 }
 
 nav li {
     display: inline;
     margin: 0 0 0 15px;
 }
 
 nav a {
     text-transform: uppercase;
     color: #000000;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
 }
 
 nav a:hover {
     color: pink;
 }
 
 .product {
     width: 940px;
     margin: 0 auto;
     padding: 50px 0;
 }
 
 .product li {
     display: inline-block;
     text-align: center;
     width: 30%;
     vertical-align: top;
     margin: 0 1.5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border: 2px solid #000000;
     border-radius: 5px 70px 70px 70px;
 }
 
 .product li:hover {
     border-color: pink;
 }
 
 .product li:active {
     border-color: #fa7f72;
 }
 
 .product li:hover h2 {
     font-size: 34px;
 }
 
 .product h2 {
     font-size: 30px;
     font-weight: bold;
 }
 
 .desc {
     font-size: 18px;
 }
 
 .price {
     font-size: 22px;
     font-weight: bold;
     margin: 10px 0 0;
 }
 
 footer {
     text-align: center;
     background: url("/Aula/assets/bg.jpg");
     padding: 40px;
 }
 
 .copyright {
     color: #ffffff;
     font-size: 15px;
     margin-top: 20px;
 }
 /* Contato css */
 
 main {
     width: 940px;
     margin: 0 auto;
 }
 
 form {
     margin: 40px 0;
 }
 
 form label,
 form legend {
     display: block;
     font-size: 20px;
     margin: 0 0 10px;
 }
 
 .input-padrao {
     display: block;
     margin: 0 0 20px;
     padding: 10px 25px;
     width: 50%;
 }
 
 .checkbox {
     margin: 20px 0;
 }
 
 .enviar {
     width: 40%;
     padding: 15px 0;
     background: pink;
     font-weight: bold;
     color: white;
     font-size: 18px;
     border: none;
     border-radius: 50px;
     transition: 1s background;
     cursor: pointer;
 }
 
 .enviar:hover {
     background: rgb(236, 82, 108);
     transform: scale(1.1);
 }
 
 table {
     margin: 20px 40px;
 }
 
 thead {
     background: pink;
     color: black;
     font-weight: bold;
 }
 
 td,
 th {
     border: 1px solid black;
     padding: 8px 15px;
 }